<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0-preview7.19362.9" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0-preview7.19362.9" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.6.0-preview7.19362.9" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.6.0-preview7.19362.9" targetFramework="net461" />
</packages>