<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StartupFolders" type="TestTask.StartupFoldersConfigSection, TestTask"/>
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>-->
  </configSections>

  <StartupFolders>
    <Folders>
      <add folderType="siteName" path ="www.ya.ru" />
      <add folderType="ServerName" path ="DESKTOP-CODCI6J" />
      <add folderType="SenderEmail" path ="serega.sann@mail.ru" />
      <add folderType="SenderName" path ="Test" />
      <add folderType="Receiver" path ="serega.sann@mail.ru" />
      <add folderType="smtpServ" path ="smtp.mail.ru" />
    </Folders>
  </StartupFolders>

  <!--
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="[TestTask].Program, [TestTask.exe]"
        mapTo="[TestTask].Program, [TestTask.exe]">
        <constructor>
          <param name="siteName" value="www.ya.ru"/>
          <param name="ServerName" value="DESKTOP-CODCI6J"/>
          <param name="SenderEmail" value="serega.sann@mail.ru"/>
          <param name="SenderName" value="Test"/>
          <param name="Receiver" value="serega.sann@mail.ru"/>
          <param name="smtpServ" value="smtp.mail.ru"/>
        </constructor>
      </register>
    </container>
  </unity>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    -->

  <!--  
  <appSettings>
    <add />
    <add key="siteName" value="www.ya.ru"/>
    <add key="ServerName" value="DESKTOP-CODCI6J"/>
    <add key="SenderEmail" value="serega.sann@mail.ru"/>
    <add key="SenderName" value="Test"/>
    <add key="Receiver" value="serega.sann@mail.ru"/>
    <add key="smtpServ" value="smtp.mail.ru"/>
  </appSettings>
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>